@model IEnumerable<Task_Announcement.Models.Announce>

@{
    ViewBag.Title = "Announcement";
}
<form method="get" asp-action="Filter">
    <div class="block_create">
        <input class="search" type="text" placeholder="Title" name="title" value="@ViewData["title_an"]" />
        <input class="search" type="text" placeholder="Description" name="description" value="@ViewData["description"]" />
        <input class="search" type="text" placeholder="Data Added" name="data_added" value="@ViewData["data"]" />
        <button class="button1"><a asp-action="Filter" asp-controller="Home">Filter</a></button>
        <button class="button1"><a asp-action="Create" asp-controller="Home">Add new announcement</a></button>
    </div>
</form>
<div>
    @foreach (var announce in Model)
    {
        <div class="block_announc">
            <div class="inside_block1">@announce.Title</div>
            <div class="inside_block2">@announce.Description</div>
            <div class="inside_block3">@announce.data</div>
            <div class="inside_block4">
                <button class="button">
                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@announce.Id">Edit</a>
                </button>
                <button class="button"><a asp-action="Delete" asp-controller="Home" asp-route-id="@announce.Id">Delete</a></button>
            </div>
        </div>
    }
</div>
<h1 class="announcement">TOP-3</h1>
<div>
    @{int count = 0;
        foreach (var announce in Model)
        {
            <div class="block_announc">
                <div class="inside_block1">@announce.Title</div>
                <div class="inside_block2">@announce.Description</div>
                <div class="inside_block3">@announce.data</div>
                <div class="inside_block4">
                    <button class="button">
                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@announce.Id">Edit</a>
                    </button>
                    <button class="button"><a asp-action="Delete" asp-controller="Home" asp-route-id="@announce.Id">Delete</a></button>
                </div>
            </div>
                count++;
                if (count == 3)
                { break; }
            }
        }
    }
</div>
